@import "./_fonts.scss";
@import "./header";
@import "./variables";

$primary: #76a8f3;
$secondary: #131f8a;  
$teritiary: #b7ddf0;

html{
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: $primary;
  height: 100%;
}

.whole_page{
    height: 100rem;
    position: relative;
    font-size: 5rem;
}

.title{
  position: absolute;
  top: 0%;
  left: 42%;
  font-family: 'Lobster', cursive;
  color: $secondary;
}

.flex-parent-1{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-child-1{
  background-color: $secondary;
  margin: 70px;
  max-height: 30vh;
  max-width: 50vh;
  justify-content: space-between;
  /*color: white;*/
}

#flex-grow-1{
  display: flex; 
    max-width: 50vh;
    max-height: 30vh;
}

#flex-grow-2{
  display: flex;
    background-size: contain;
}

#flex-grow-3{
  display: flex;
    background-size: contain;
}

.flex-parent-2{
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-child-2{
  background-color: $secondary;
  margin: 70px;
  height: 30vh;
  width: 60vh;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 4rem;
  color: $teritiary;
}

.complex-1{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 5vh;
  width: 60vh;
  text-align: center;
}

.complex-2{
  display: flex; 
  justify-content: space-between;
  flex-direction: column;

  width: 60vh;
  text-align: center;
}

.complex-parent{
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.complex-child{
  background-color: $secondary;
  /*margin: 70px;*/
  max-height: 25vh;
  max-width: 15vh;
  justify-content: space-between;
}

#flex-grow-4{
  display: flex;

  background-size: contain;
}

#flex-grow-5{
  display: flex;
  background-size: contain;
}

#flex-grow-6{
  display: flex;
  background-size: contain;
}
/*.flex-child-3{
  background-color: $secondary;
  margin: 70px;
  height: 30vh;
  width: 60vh;
}*/

