html {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: 'Josefin Sans', sans-serif;
}

.header {
  background-color: blue;
  height: 30vh;
}

/*$colors:(
    primary: #76a8f3;
    secondary: #131f8a; 
    tertiary: 
)

@function color($color-name) {
    @return map-get($colors , $color-name:)
}

$padding: 1.3rem
body {
    background-color: rgba(color(primary), 0.4)
}
*/
html {
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #76a8f3;
  height: 100%;
}

.whole_page {
  height: 100rem;
  position: relative;
  font-size: 5rem;
}

.title {
  position: absolute;
  top: 0%;
  left: 42%;
  font-family: 'Lobster', cursive;
  color: #131f8a;
}

.flex-parent-1 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-child-1 {
  background-color: #131f8a;
  margin: 70px;
  max-height: 30vh;
  max-width: 50vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*color: white;*/
}

#flex-grow-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50vh;
  max-height: 30vh;
}

#flex-grow-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: contain;
}

#flex-grow-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: contain;
}

.flex-parent-2 {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-child-2 {
  background-color: #131f8a;
  margin: 70px;
  height: 30vh;
  width: 60vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 4rem;
  color: #b7ddf0;
}

.complex-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 5vh;
  width: 60vh;
  text-align: center;
}

.complex-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vh;
  text-align: center;
}

.complex-parent {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.complex-child {
  background-color: #131f8a;
  /*margin: 70px;*/
  max-height: 25vh;
  max-width: 15vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#flex-grow-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: contain;
}

#flex-grow-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: contain;
}

#flex-grow-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: contain;
}

/*.flex-child-3{
  background-color: $secondary;
  margin: 70px;
  height: 30vh;
  width: 60vh;
}*/
/*# sourceMappingURL=style.css.map */